# local .terraform directory
.terraform/*

# terraform .tfstate files
*.tfstate
*.tfstate.*

# tf variables files may include sensitive data
*.tfvars

# private key and public key files
myapp_key
myapp_key.pub
